body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: "Inter", "sans-serif";
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 360px;
    margin: auto;
}

.content-section_theme_dark {
    background-color: #131313;
    color: #fff;
}

.content-section_theme_bright {
    background-color: #fee42a;
    color: #131313;
}

.header {
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.header__logo {
    display: block;
    width: 78px;
}

.header__logo-image {
    width: 100%;
}

.header__menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}

.header__menu-link{
    color: white;
}

.header__menu-item_active .header__menu-link{
    text-decoration: none;
    font-size: 16px;
    line-height: 1.2;
}
.cover {
    padding: 7px 24px 32px 20px;
    background-image: url("./images/cover.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 95% auto;
    min-width: 360px;
}

.cover__title {
    width: 100%;
    color: #fff;
    font-size: 72px;
    font-family: "EB Garamond", "serif";
    font-weight: 400;
    line-height: 1;
}

.accent-span {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.intro {
    padding: 0px 20px 38px;
    display: block;
}

.intro__heading {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    color: #ccc;
}

.intro__title {
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
}

.intro__date {
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.2;
}

.intro__main-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
    color: #f5f5f5;
    font-size: 16px;
    line-height: 1.35;
}

.reasons {
    padding: 40px 20px;
}

.content-section__subtitle {
    font-family: "EB Garamond", "serif";
    font-size: 28px;
    font-weight: 500;
    line-height: 1.15;
    margin-bottom: 32px;
}

.content-section__introduction {
    font-size: 20px;
    margin: 0 0 32px;
    line-height: 1.35;
}

.content-section__list {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 0 0 16px;
    font-size: 16px;
    line-height: 1.35;
}

.content-section__list-accent {
    font-weight: 700;
}


.how-to {
    padding: 40px 20px 60px;
}

.cards-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card {
    box-sizing: border-box;
    border-radius: 30px;
    padding: 20px;
    max-width: 319px;
    width: 100%;
}

.card_theme_dark {
    background-color: #343434;
}

.card_theme_bright {
    background-color: #FEE42A;
    color: black;
}

.card__author {
    max-width: 163px;
    width: 100%;
    margin-bottom: 8px;
}

.card__author-photo {
    display: block;
    width: 100px;
    border-radius: 50%;
}

.card__author-name {
    margin: 8px 0 0;
    font-weight: 700;
    margin-bottom: 8px;
}

.card__title {
    padding: 0 0 8px 0;
    font-family: "EB Garamond", "serif";
    font-size: 22px;
    font-weight: 500;
    line-height: 1.35;
}
.card__text {
    font-size: 16px;
    line-height: 21.6px;
}
.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #fee42a;
}
.footer__links {
    display: flex;
    gap: 16px;
    list-style: none;
}

.footer__links a {
    color: #F5F5F5;
    font-size: 14px;
    line-height: 1.25;
    text-decoration: none;
}